@import "./variables/colors.scss";
@import "./variables/fonts.scss";
body {
  background-color: $bgGrey;
  color: $primaryPurple;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.audio-controls {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.answer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 60px;
  max-width: 450px;
  &__btn {
    padding: 0.75em;
    min-width: 150px;
    font-size: 4rem;
    color: #000;
    border-radius: 2px;
    background-color: hsl(170deg 15% 90%);

    &:hover {
      cursor: pointer;
      background-color: #d9d9ee;
    }
  }
}

h1,
p {
  margin: 0;
}

.gain-comparison {
  margin-top: 40px;
  display: flex;
  width: 340px;
  justify-content: space-between;
  gap: 10px;

  &__btn {
    text-underline-offset: 6px;
  }
}
.instructions {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  inset: 0;
  z-index: 1;
  &__content-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
    flex-grow: 1;
    align-content: center;
    font-size: 28px;
  }
  &__heading {
    font-size: 3.5em;
    color: $primaryPurple;
    text-align: center;
    font-family: "Changa One", sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(290deg, #2420ad, blue);
    color: transparent;
    margin-top: 16vh;
  }
  &__image-container {
    &__image {
      background-image: url("/images/alexey-ruban-73o_FzZ5x-w-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 50%;
      width: 100%;
      min-height: 20vh;
      filter: grayscale(100%);
      position: absolute;
      bottom: 0;
    }
    &__image::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $overlayPurple;
      z-index: 0;
    }
  }
  &__text {
    padding: 40px;
    font-size: 1em;
    max-width: 400px;
  }
}

.mute-btn {
  min-width: 38px;
  background-color: hsl(55.14deg 40% 92%);

  &:hover {
    cursor: pointer;
  }
}

.play-again-btn {
  visibility: hidden;
  padding: 1em 1.5em;
  margin-top: 40px;
  &:hover {
    cursor: pointer;
  }
}

.play-again-container {
  visibility: hidden;
  &__final-score {
    font-size: 3rem;
    margin-bottom: 60px;
  }
}

.round-icon,
.score-icon {
  width: 26px;
}
.round-container,
.score-container {
  display: flex;
}
.score-display,
.round-display {
  margin-left: 8px;
  font-size: 24px;
}

.score-and-round {
  background-color: $primaryPurple;
  padding: 12px 32px;
  color: #fff;
  margin: 0;
}

.score-round-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 660px;
}

.gameplay-container {
  position: relative;
  z-index: 0;
  display: grid;
  place-items: center;
  border: 1px solid #000;
  padding: 1.25rem 3rem 3.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.start-game-btn,
.play-again-btn,
.gain-comparison__btn {
  color: #fff;
  background-color: $primaryPurple;
  border-radius: 8px;
  padding: 1em 1.25em;
  font-size: 0.6em;
  min-width: 120px;
  width: 160px;
  border: 4px solid $accentYellow;
  transition: all 100ms ease-in;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):active {
    color: $primaryPurple;
    background-color: $accentYellow;
    border: 4px solid $primaryPurple;
  }
}
.gain-comparison__btn {
  font-size: 1em;
}

.waveform {
  display: none;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 880px) {
  .answer-buttons {
    margin-top: 40px;
    gap: 10px;
    &__btn {
      padding: 0.55em;
      font-size: 3rem;
    }
  }
  .gameplay-container {
    width: 70%;
  }
  .instructions {
    &__content-container {
      font-size: 24px;
    }
  }
  .mute-btn {
    min-width: 28px;
  }
}
