@import "./variables/colors.scss";
@import "./variables/fonts.scss";

body {
  background-color: $bgGrey;
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: $primaryPurple;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  font-size: 16px;
}

.audio-controls {
border: 0.1px solid #000;
max-width: 100px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: flex-end;
position: absolute;
top: 75vh;
right: 150px;
}

.answer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 60px;
  max-width: 450px;
  &__btn {
    padding: 0.75em;
    min-width: 150px;
    font-size: 4rem;
    color: #000;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
      background-color: #d9d9ee;
    }
  }
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-grow: 1;
}

h1,
p {
  margin: 0;
}

.gain-comparison {
  margin-top: 40px;
  display: flex;
  width: 340px;
  justify-content: space-between;
  gap: 10px;

  &__btn {
    text-underline-offset: 6px;
  }
}
.instructions {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  // display: none;
  &__content-container {
    margin-left: auto;
    margin-right: auto;
	display: grid;
	place-items: center;
    flex-grow: 1;
  	align-content: center;;
	font-size: 28px;
  }
  &__heading {
    font-size: 3.5em;
    color: $primaryPurple;
    text-align: center;
    font-family: "Changa One", sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(290deg, #2420ad, blue);
    color: transparent;
  }
  &__image-container {
    &__image {
      background-image: url("/images/alexey-ruban-73o_FzZ5x-w-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 50%;
      width: 100%;
      min-height: 20vh;
      filter: grayscale(100%);
    }
    &__image::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $overlayPurple;
      z-index: 0;
    }
  }
  &__text {
    padding: 40px;
    font-size: 1em;
    max-width: 400px;
  }
}

.mute-btn {
  position: relative;
  min-width: 38px;
  border: 1px solid #000;
  background-color: #f5f2d0;

  &:hover {
    cursor: pointer;
  }
}

.play-again-btn {
  visibility: hidden;
  padding: 1em 1.5em;
  margin-top: 40px;
  &:hover {
    cursor: pointer;
  }
}

.play-again-container {
  visibility: hidden;
  &__final-score {
    font-size: 3rem;
    margin-bottom: 60px;
  }
}

.round-icon,
.score-icon {
  width: 26px;
}
.round-container,
.score-container {
  display: flex;
}
.score-display,
.round-display {
  margin-left: 8px;
  font-size: 24px;
}

.score-and-round {
  background-color: $primaryPurple;
  width: 100%;
  padding: 12px 32px;
  color: #fff;
  margin: 0;
}

.score-round-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 660px;
}

.speaker-icon {
  padding: 10px;
  width: 36px;
  &:hover {
    cursor: pointer;
  }
}

.gameplay-container {
	display: grid;
	place-items: center;
	border: 1px solid #000;
	padding: 3rem;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	
}
.start-game-btn,
.play-again-btn,
.gain-comparison__btn {
  color: #fff;
  background-color: $primaryPurple;
  border-radius: 8px;
  padding: 1em 1.25em;
  font-size: .6em;
  min-width: 120px;
  width: 160px;
  border: 4px solid $accentYellow;
  transition: all 100ms ease-in;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):active {
    color: $primaryPurple;
    background-color: $accentYellow;
    border: 4px solid $primaryPurple;
  }
}
.gain-comparison__btn {
	font-size: 1em;
}

.waveform {
  display: none;
  width: 150px;
  height: 70px;
  margin-top: 5%;
}
