@import "./variables/colors.scss";
@import "./variables/fonts.scss";

body {
  background-color: $bgGrey;
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: $primaryPurple;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
}

.answer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
  &__btn {
    padding: 1em 1.5em;

    &:hover {
      cursor: pointer;
    }
  }
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  position: relative;
  width: 85%;
  height: 85%;
  margin: auto;
}

h1,
p {
  margin: 0;
}

.instructions {
  position: absolute;
  height: 100%;
  background-color: #fff;
  &__heading {
    font-family: "Changa One", sans-serif;
    margin-top: 180px;
    font-size: 4rem;
  }
  &__text {
    padding: 40px;
  }
}

.mute-btn {
  position: relative;
  min-width: 38px;
  border: 1px solid #000;
  background-color: #f5f2d0;

  &:hover {
    cursor: pointer;
  }
}

.play-again-btn {
  visibility: hidden;
  padding: 1em 1.5em;
  margin-top: 40px;
  &:hover {
    cursor: pointer;
  }
}

.round-icon,
.score-icon {
  width: 40px;
}

.speaker-icon {
  margin-top: 40px;
  &:hover {
    cursor: pointer;
  }
}

.start-game-btn {
  color: #fff;
  background-color: $primaryPurple;
  border-radius: 8px;
  padding: 0.5em 1.25em;
  font-size: 1.1rem;
  min-width: 120px;
  width: 160px;
  border: 4px solid $accentYellow;
  transition: all 100ms ease-in;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):active {
    color: $primaryPurple;
    background-color: $accentYellow;
    border: 4px solid $primaryPurple;
  }
}

.waveform {
  grid-area: 1 / 3 / 2 / 7;
  display: none;
  margin: auto;
  width: 200px;
}
.waveform path {
  // fill: white;
}
